client
proto {{ openvpn_proto }}
explicit-exit-notify
remote {{ openvpn_remote }} {{ openvpn_port }}
dev tun
resolv-retry {{ openvpn_resolv_retry }}
nobind
persist-key
persist-tun
remote-cert-tls {{ openvpn_remote_cert_tls }}
verify-x509-name {{ openvpn_verify_x509_name }} name
auth {{ openvpn_auth_alg }}
auth-nocache
cipher {{ openvpn_cipher }}
tls-client
{% if openvpn_use_modern_tls %}
tls-version-min 1.2
{% endif %}
tls-cipher {{ openvpn_tls_cipher }}
ignore-unknown-option {{ openvpn_ignore_unknown_option }}
setenv opt block-outside-dns # Prevent Windows 10 DNS leak
verb 3
<ca>
{{ ca_cert.content|b64decode }}
</ca>
<tls-crypt>
{{ tls_crypt.content|b64decode }}
</tls-crypt>
<cert>
{{ client_certs.content|b64decode }}
</cert>
<key>
{{ client_keys.content|b64decode }}
</key>
