{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
EnvironmentFile={{ node_exporter_config_directory }}/node-exporter/prometheus-node-exporter
ExecStart={{ _node_exporter_binary_install_dir }}/prometheus-node-exporter \
    --web.listen-address={{ node_exporter_web_listen_address }} \
    --web.telemetry-path={{ node_exporter_web_telemetry_path }}

ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=30
StartLimitInterval=0
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
