[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target
After=postgresql.service mariadb.service mysql.service

[Service]
EnvironmentFile={{ grafana_config_directory }}/grafana-server.env
User=grafana
Group=grafana
Type=simple
Restart=on-failure
WorkingDirectory={{ grafana_config_directory }}
RuntimeDirectory=grafana
RuntimeDirectoryMode=0750
ExecStart={{ grafana_binary_directory }}/grafana-server \
	--config={{ grafana_config_directory }}/conf/grafana.ini \
	--pidfile={{ grafana_pid_file_directory }}/grafana-server.pid \
	--packaging=deb \
	cfg:default.paths.logs={{ grafana_config_directory }}/data/log \
	cfg:default.paths.data={{ grafana_config_directory }}/data \
	cfg:default.paths.plugins={{ grafana_config_directory }}/data/plugins \
	cfg:default.paths.provisioning={{ grafana_config_directory }}/conf/provisioning


LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
