GRAFANA_USER=grafana

GRAFANA_GROUP=grafana

GRAFANA_HOME={{ grafana_config_directory }}

LOG_DIR={{ grafana_config_directory }}/data/log

DATA_DIR={{ grafana_config_directory }}/data

MAX_OPEN_FILES=10000

CONF_DIR={{ grafana_config_directory }}/conf

CONF_FILE={{ grafana_config_directory }}/conf/grafana.ini

RESTART_ON_UPGRADE=false

PLUGINS_DIR={{ grafana_config_directory }}/data/plugins

PROVISIONING_CFG_DIR={{ grafana_config_directory }}/conf/provisioning

# Only used on systemd systems
PID_FILE_DIR=/var/run/grafana
