{{ ansible_managed | comment }}
[Unit]
Description=Blackbox Exporter
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ blackbox_exporter_binary_directory }}/blackbox_exporter \
  --config.file={{ blackbox_exporter_config_directory }}/blackbox.yml \
  {% for flag, flag_value in blackbox_exporter_cli_flags.items() -%}
  --{{ flag }}={{ flag_value }} \
  {% endfor -%}
  --web.listen-address={{ blackbox_exporter_web_listen_address }}

TimeoutStopSec=20
SendSigKill=no
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
