{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Time Series Collection and Processing Server
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
Restart=always
RestartSec=30
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_binary_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_db_dir }} \
  --storage.tsdb.retention={{ prometheus_storage_retention }} \
  --web.console.templates={{ prometheus_config_dir }}/consoles \
  --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
  --web.listen-address={{ prometheus_web_listen_address }} \
  --web.enable-lifecycle \

[Install]
WantedBy=multi-user.target
